.presentacion,
.proyectos,
.contacto,
.contactanos {
    text-align: center;
    margin: 30px;
}

.proyectos {
    margin: 50px;
}

.nuestra-esencia {
    margin: 20px;
}

.introduccion-servicios {
    text-align: center;
}