@use "../utilities/variables" as *;

.titulos2 {
    font-family: $fuente-titulos;
    font-size: 2rem;
    font-weight: 600;
    color: $color-negro;
}

.titulos2-, .titulos2-servicios {
    color: $color-blanco;
}

.titulos2-servicios {
    padding: 30px;
}

.titulos2serv {
    font-family: $fuente-titulos;
    font-size: 2rem;
    font-weight: 600;
    color: $color-beige;
    margin: 20px;
}

.titulos3 {
    font-family: $fuente-titulos;
    font-size: 28px;
    color: $color-blanco;
    background-color: $color-negro;
}

.titulos3p {
    font-family: $fuente-titulos;
    font-size: 28px;
    color: $color-blanco;
    background-color: $color-negro;
    text-align: center;
    padding: 15px;
}

%texto-base {
    font-family: $fuente-texto;
    font-size: 1rem;
    font-weight: 400;
}

.parrafo {
    @extend %texto-base;
}

.parrafo-servicios {
    @extend %texto-base;
    color: $color-blanco;
}

.parrafo-footer {
    @extend %texto-base;
    padding: 15px 0px;
}